/* ARQUIVO DE ESTILO  DO CORPO (MENU A SECRION ANTES DO RODAPÉ)DE TODAS AS PAGES */

/* ----------------------------------
      front section: header
 -----------------------------------*/

body{
    background-color: lightgrey;
}


/*-----------------------------------
      Main content
 -----------------------------------*/
.main-page {
    max-width: 86%;    /* 1300px  */
    background-color: lightgrey;
    /*font-family: Arial, Helvetica, sans-serif;*/
    margin: auto 7%;
    align-content: center;
}

nav {
    width: 100%;    /* 955px;*/
    background-color: #009688;
}

nav ul {
    list-style:none;
    margin: 0;
    padding:10px;
}

nav ul li {
    display:inline-block;
}

nav ul li a {
    font-size: 1.2em;
    text-decoration: none;
    color: #FFF;
    font-family: Verdana, Georgia, Times, sans-serif;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: rgba(60, 175, 113, 0.9);;
    color: #fff;
    padding-top: 14px;
    padding-bottom: 19px;
    font-weight: 500;
    font-size: 1.2em;
}

#home-style:hover{
    background-color: transparent;
}

/* navbar fixo e fluivel */
.sticky{
    position: fixed;
    top: 0;
    width: 100%;   /* 100% de 1300px */
    padding-top: 100px;
}

/*--------------------------------------
        Corriculum real content
        1 - left side informations
 --------------------------------------*/

.card-content-container{
    margin: 15px 0;
}

.card-content-container-info{
    margin: 15px 0 40px 0;
}

.card-content-container-form-acad{
    margin: 15px 0 100px 0;
}
.left-aside-card{
    font-family: Verdana, Helvetica, "Times New Roman", sans-serif;
    width: 27.54%;       /* 358px / 1300px */
    height: auto;
    position: relative;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 7px 0 0 7px;
    color: dimgray;
}

.header-left-info img{
    max-width: 100%;     /* 100% de area .left-aside = 358px;*/
    border-radius: 7px 0 0 0;
}

.header-left-info h2{
    color: dimgray;
    font-weight: 700;
    letter-spacing: -0.01px;
    font-style: normal;
    margin-left: 15px;
}

/*--------------------------------------
        Corriculum content
        1 - right side content
 --------------------------------------*/

.right-content-conteiner{
    width: 60.6%;            /* 920px / 1300px */
    margin-left: 25%;        /* 380px / 1300px */;
    margin-top: -999px;      /* 880px / 1300px */;
    position: absolute;
    height: auto;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 0 7px 7px 0;
    font-family: Helvetica, Verdana, "Times New Roman", sans-serif;
}

/*   card 2 da page home - About more me  */
.right-content-conteiner-2{
    width: 60.6%;            /* 920px / 1300px */
    margin-left: 25%;        /* 380px / 1300px */;
    margin-top: -550px;      /* 880px / 1300px */;
    position: absolute;
    height: auto;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 0 7px 7px 0;
    font-family: Helvetica, Verdana, "Times New Roman", sans-serif;
    visibility: visible;
}

.right-content-card{
    width: 94%;             /* 828px / 920px */
    margin: 20px 3%;
}

.title-content-card h1{
    color: #009688;
    letter-spacing:-0.001em;
    font-size: 3em;
    font-weight: 700;
}

.real-content-page p{
    text-align: justify;
    font-size: 1.2em;        /* 16 px = 1em */
    color: gray;
}

.real-content-page h3{
    color: dimgray;
    font-weight: bolder;
    letter-spacing: -0.01px;
    font-family: Helvetica, Verdana, "Times New Roman", sans-serif;
    text-transform: capitalize;
}

.real-content-page h4{
    color: dimgray;
    font-weight: 300;
    letter-spacing: -0.01px;
    text-transform: capitalize;
}

.real-content-page p{
    font-size: medium;
    text-transform: none;
}
.current{
    background-color: #009688;
    padding: 5px 10px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}
/*-------------------------------------
            Contact section
 --------------------------------------*/

.form-contato{
    width: 100%;
    background: #fff url("../imagens/wm-talking-eeep.jpg") repeat-x top left;
    height: 700px;
    padding-bottom: 50px;
}

.myform-container{
  /*  border: 2px solid green;*/
}

.myform-container h1{
    color: #000;
    letter-spacing:-0.001em;
    font-size: 3em;
    font-weight: 700;
    align-content: center;
    text-align: center;
}

.myform-container p{
    letter-spacing:-0.001em;
    font-size: 1em;
    font-weight: 600;
    align-content: center;
    text-align: center;
    width: 48%;
    margin-left: 26%;
    color: #000;
}

.myform{
    display: block;
    width: 34%;
    align-content: center;
    margin: -40px 13% 0 53%;
    color: #000;
    font-weight: 600;
    text-align: left;
    background-color: #f2f2f2;
}

.campo{
    width: 100%;
    height: 40px;
    border-radius: 4px;
}

.label2{
   text-align: left;
}

textarea{
    text-align: left;
    box-sizing: border-box;
    resize: none;
    width: 100%;
    height: 150px;
    border-radius: 4px;
}

.button-div{
    width: 100%;
    display: inline;
}

.button{
    width: 47%;
    height: 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
 }

#button-submit{
    background-color: #4CAF50;
    color: #fff;
    margin-right: 20px;
}

#button-reset{
    background-color: #6f42c1;
    color: #fff;
}

.button:hover{
    background-color:  #45a049;
    box-shadow: 4px 1px 1px 2px rgba(0, 0, 0, 0.3);

}